# Use legacy peer dependencies to avoid issues during CI
legacy-peer-deps=true

# Increase network timeout for slower connections
network-timeout=300000

# Don't generate a package-lock when running npm install
package-lock=true

# Makes npm run in production mode for Cloudflare Pages
NODE_ENV=production 
